:root {
  --primary-color: #1f65b4;
  --secondary-color: #004ea8;
  --tertiary-color: #0072d8;
  --font-family: "Manjari", sans-serif;
}

.blue-text {
  color: #004ea8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relafitive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../assets/bg.png");
  background-size: cover;
  z-index: -1;
  font-family: var(--font-family);
}

.entry {
  height: 600px;
  width: 670px;
  background-color: white;
  border-radius: 10%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.logo {
  width: 1800px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.logo > img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  margin-bottom: 400px;
  gap: 20px;
}

.log-in {
  padding: 15px 10px;
  width: 471px;
  height: 54px;
  border: none;
  background-color: var(--tertiary-color);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 25px;
  font-family: var(--font-family);
}

.button p {
  margin: 0;
  font-size: 25px;
  color: #333;
}

.or {
  margin-top: 10px;
  font-size: 25px;
  opacity: 40%;
}

.sign-up-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.register {
  padding: 15px 10px;
  width: 471px;
  height: 54px;
  border: 2px solid var(--secondary-color);
  background-color: white;
  color: var(--secondary-color);
  border-radius: 20px;
  cursor: pointer;
  font-size: 25px;
  font-family: var(--font-family);
  margin-bottom: 50px;
  margin-top: -10px;
}

.log-in:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.register:hover {
  background-color: #2196f3;
  color: #fff;
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.sign-up-message p {
  font-size: 20px;
  color: #333;
  margin: 0;
}

.entry:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}
