:root {
  --primary-color: #1f65b4;
  --secondary-color: #004ea8;
  --tertiary-color: #0072d8;
  --font-family: "Manjari", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blue-text {
  color: #004ea8;
}

.red-text {
  color: red;
}

p {
  font-size: 24px;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/assets/bg.png");
  z-index: -1;
  font-family: var(--font-family);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  color: var(--primary-color);
  width: 100%;
  margin-bottom: 10px;
  margin-top: 30px;
}

.add-account-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 800px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.add-account-page > img {
  width: 130px;
  margin-bottom: 30px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 70px;
}

.button button {
  height: 54px;
  width: 500px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 25px;
  font-family: var(--font-family);
  background-color: var(--tertiary-color);
  color: white;
  border: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

.button button:hover {
  background-color: #3478f6;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2), 0 0 10px rgba(52, 120, 246, 0.4);
  transform: translateY(-3px);
}
