:root {
  --primary-color: #1f65b4;
  --secondary-color: #004ea8;
  --tertiary-color: #0072d8;
  --font-family: "Manjari", sans-serif;
}

.blue-text {
  color: #004ea8;
}

.red-text {
  color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/assets/bg.png");
  z-index: -1;
  font-family: var(--font-family);
}

.update-alias-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 900px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 50px;
  padding-right: 50px;
}

.title-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  width: 900px;
  padding: 50px 50px;
}

.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: left;
  font-size: 55px;
  color: var(--primary-color);
  text-align: left;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 40px;
}

.alias {
  display: flex;
  align-items: left;
  font-size: 40px;
  color: var(--primary-color);
  text-align: left;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 20px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.checkbox label {
  display: flex;
  align-items: left;
  padding-left: 20px;
  font-size: 32px;
}

.yes {
  display: flex;
  flex-direction: row;
  font-size: 32px;
}

.no {
  display: flex;
  flex-direction: row;
  font-size: 32px;
}

.yes input[type="checkbox"] {
  margin-top: 3px;
  width: 20px;
  height: 20px;
}

.no input[type="checkbox"] {
  margin-top: 3px;
  width: 20px;
  height: 20px;
}

.first-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

.full-name {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
}

input[type="text"] {
  border-radius: 5px;
  width: 750px;
  height: 50px;
  font-size: 32px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 3px solid var(--tertiary-color);
  transition: all 0.1s ease;
}

.date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 25px 25px;
  margin-bottom: -10px;
}

#month,
#day,
#year {
  border: 3px solid var(--tertiary-color);
  border-radius: 5px;
  width: 220px;
  height: 50px;
  font-size: 32px;
  margin-bottom: 10px;
}

#month-id2,
#day-id2,
#year-id2 {
  border: 3px solid var(--tertiary-color);
  border-radius: 5px;
  width: 220px;
  height: 50px;
  font-size: 28px;
  margin-bottom: 10px;
}

.date label {
  display: block;
  font-size: 32px;
  color: black;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
}

.date-of-birth {
  flex: 1;
  font-size: 32px;
  width: 100%;
  padding-left: 25px;
  color: var(--primary-color);
  font-weight: bold;
}

input[type="text"]:focus {
  border: 3px solid var(--tertiary-color);
  color: black;
  box-shadow: 0 0 3px var(--tertiary-color);
  outline: none;
}

input[type="text"]::placeholder {
  font-size: 28px;
}

.full-name label {
  font-size: 32px;
}

.second-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.upload-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed #2196f3;
  border-radius: 10px;
  width: 740px;
  height: 427px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: white;
}

.upload-box.error {
  border: 2px dashed #ff3860 !important;
  color: red;
}

.upload-box.error .note {
  color: red;
}

.upload-box.error label {
  border: 2px dashed #ff3860 !important;
  color: red;
}

.upload-box.error .direction {
  color: red;
}

.upload-box.error .icon img {
  filter: hue-rotate(180deg) saturate(5);
}

.upload-box:hover {
  background-color: #f0f8ff;
}

.upload-box .icon {
  font-size: 30px;
  color: #2196f3;
}

.upload-box label {
  display: inline-block;
  font-size: 32px;
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #fff;
  border: 1px solid #2196f3;
  border-radius: 10px;
  color: #2196f3;
  cursor: pointer;
  transition: all 0.3s ease;
}

.upload-box label:hover {
  background-color: #2196f3;
  color: #fff;
}

.upload-box input[type="file"] {
  display: none;
}

.upload-box .direction {
  margin: 10px 0;
  color: #888;
  font-size: 28px;
}

.note {
  color: black;
  padding-top: 20px;
  font-size: 20px;
  padding: 20px 20px;
}

.subtitle {
  display: flex;
  font-size: 32px;
  color: var(--primary-color);
  text-align: left;
  width: 100%;
  padding-left: 25px;
}

.id1 {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

#select-id1,
#select-id2 {
  border-radius: 5px;
  width: 350px;
  height: 50px;
  font-size: 32px;
  margin-bottom: 10px;
  border: 3px solid var(--tertiary-color);
  padding-left: 10px;
}

.id1 input[type="text"] {
  border-radius: 5px;
  width: 350px;
  height: 50px;
  font-size: 32px;
  margin-bottom: 10px;
  border: 3px solid var(--tertiary-color);
  padding-left: 10px;
}

.id1 label {
  display: flex;
  font-size: 32px;
}

.id1-expiration {
  display: flex;
  flex-direction: column;
}

.id1-expiration label {
  font-size: 32px;
}

input[type="date"] {
  border-radius: 5px;
  width: 755px;
  height: 50px;
  font-size: 32px;
  margin-bottom: 20px;
  border: 3px solid var(--tertiary-color);
  padding-left: 10px;
  margin-bottom: 50px;
}

.third-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.third-container h2 {
  font-size: 32px;
  color: var(--primary-color);
  text-align: left;
  width: 100%;
  padding-left: 20px;
}

.id2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 50px;
  padding-left: 20px;
}

.id2 input[type="select"] {
  border-radius: 5px;
  width: 355px;
  height: 50px;
  font-size: 32px;
  margin-bottom: 10px;
  border: 3px solid var(--tertiary-color);
  padding-left: 10px;
}

.id2 input[type="text"] {
  border-radius: 5px;
  width: 350px;
  height: 50px;
  font-size: 32px;
  margin-bottom: 10px;
  border: 3px solid var(--tertiary-color);
  padding-left: 10px;
}

.id2 label {
  display: flex;
  font-size: 32px;
}

.id2-expiration {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

input[type="date"] {
  border-radius: 5px;
  width: 755px;
  height: 50px;
  font-size: 32px;
  margin-bottom: 20px;
  border: 3px solid var(--tertiary-color);
  padding-left: 10px;
  margin-bottom: 50px;
}

.button {
  display: flex;
  gap: 20px;
  margin-top: 60px;
  align-self: center;
  gap: 40px;
}

.button button {
  height: 54px;
  width: 239px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 25px;
  font-family: var(--font-family);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border: none;
}

#back {
  background-color: white;
  color: var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
}

#back:hover {
  background-color: var(--tertiary-color);
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#proceed {
  background-color: var(--tertiary-color);
  color: white;
}

#proceed:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.checkbox-container.success input {
  border-color: var(--primary-color);
}

.checkbox-container.error input {
  border-color: #ff3860;
}

input.error,
select.error,
input[type="date"].error,
input[type="file"].error {
  border: 3px solid #ff3860 !important;
}

select:focus {
  border: 4px solid var(--tertiary-color);
  color: var(--primary-color);
  box-shadow: 0 0 3px var(--tertiary-color);
  outline: none;
}

.error-message {
  color: red;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.success-message {
  color: var(--primary-color);
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
}
