:root {
  --primary-color: #1f65b4;
  --secondary-color: #004ea8;
  --tertiary-color: #0072d8;
  --font-family: "Manjari", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(/assets/bg.png);
  z-index: -1;
  background-size: cover;
  font-family: var(--font-family);
}

.create-account-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 900px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 55px;
  color: var(--primary-color);
  margin-bottom: 30px;
  text-align: left;
  width: 100%;
  padding-left: 25px;
}

.fname-title {
  font-size: 40px;
  color: var(--primary-color);
  margin-bottom: 30px;
  text-align: left;
  width: 100%;
  padding-left: 25px;
}

.personal-info {
  font-size: 40px;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  padding-left: 25px;
}

.first-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 70px;
}

.first-container label {
  display: block;
  font-size: 35px;
  color: black;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
}

input[type="text"] {
  border-radius: 5px;
  width: 750px;
  height: 50px;
  font-size: 32px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 3px solid var(--tertiary-color);
  color: var(--tertiary-color);
  transition: all 0.1s ease;
}

input[type="text"]:focus {
  border: 4px solid var(--tertiary-color);
  color: var(--primary-color);
  box-shadow: 0 0 3px var(--tertiary-color);
  outline: none;
}

input[type="text"]::placeholder {
  font-size: 28px;
}

select option:first-child {
  color: #aaa;
  font-size: 25px;
}

.default-select option {
  font-size: 10px;
  color: gray;
}

.second-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

select {
  border: 3px solid var(--tertiary-color);
  border-radius: 5px;
  width: 340px;
  height: 50px;
  font-size: 30px;
  margin-bottom: 15px;
  padding-left: 10px;
}

select:focus {
  border: 4px solid var(--tertiary-color);
  color: var(--primary-color);
  box-shadow: 0 0 3px var(--tertiary-color);
  outline: none;
}

.date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 25px 25px;
  margin-bottom: -10px;
}

#month,
#day,
#year {
  border: 3px solid var(--tertiary-color);
  border-radius: 5px;
  width: 220px;
  height: 50px;
  font-size: 28px;
  margin-bottom: 15px;
}

.date label {
  display: block;
  font-size: 32px;
  color: black;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
}

.date-of-birth {
  flex: 1;
  font-size: 32px;
  width: 100%;
  padding-left: 25px;
  color: var(--primary-color);
  font-weight: bold;
}

.country-label {
  display: flex;
  gap: 20px;
  width: 100%;
  padding-left: 25px;
}

.country-label label {
  flex: 1;
  font-size: 32px;
}

.country-container {
  display: flex;
  width: 100%;
  padding: 10px 25px;
  justify-content: space-between;
}

.gender-label {
  display: flex;
  gap: 20px;
  width: 100%;
  padding-left: 25px;
}

.gender-label label {
  flex: 1;
  font-size: 32px;
}

.gender-container {
  display: flex;
  width: 100%;
  padding: 10px 25px;
  justify-content: space-between;
}

.residency-status-container label {
  font-size: 32px;
}

.residency-status-container {
  display: flex;
  width: 100%;
  padding: 10px 25px;
  flex-direction: column;
}

.button {
  display: flex;
  gap: 40px;
  margin-top: 60px;
  align-self: center;
}

.button button {
  height: 54px;
  width: 239px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 25px;
  font-family: var(--font-family);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border: none;
}

#back {
  background-color: white;
  color: var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
}

#back:hover {
  background-color: var(--tertiary-color);
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#proceed {
  background-color: var(--tertiary-color);
  color: white;
}

#proceed:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.checkbox-container.success input {
  border-color: var(--primary-color);
}

.checkbox-container.error input {
  border-color: #ff3860;
}

.date.success select {
  border-color: var(--primary-color) !important;
}

.date.error select {
  border-color: #ff3860 !important;
}

.success select {
  border-color: var(--primary-color) !important;
}

.error select {
  border-color: #ff3860 !important;
}

.country-container .success select,
.gender-container .success select {
  border-color: var(--primary-color) !important;
}

.country-container .error select,
.gender-container .error select {
  border-color: #ff3860 !important;
}

.error-message {
  color: red;
  font-size: 20px;
  padding-top: -30px;
  margin-bottom: 10px;
}

select:focus {
  border: 4px solid var(--tertiary-color) !important;
  color: var(--primary-color);
  box-shadow: 0 0 3px var(--tertiary-color);
  outline: none;
}
